#clock {
  font-family: serif;
  font-size: 7em;
  font-weight: bolder;
  width: 250px;
  color: black;
  text-align: center;
  border: 1px black;
  border-radius: 1px;
  margin: auto;
  margin-top: 400px;
  margin-left: 350px;
  
}
  
